/* font-family: 'Crimson Text', serif;
font-family: font-family: 'Crimson Text', serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Raleway', sans-serif; */
/* #F8E9A1, #F76C6C, #A8D0E6 light blue, #374785 (Dark Purple), #24305E (Dark blue) */

* {
    margin: auto;
    padding: 10px;
}
body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(36,48,94,1) 35%, rgba(168,208,230,1) 100%);
}
main{
    border-radius: 5px;
    padding-top: 20px;
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
    
}
.my-4 {
    padding: 0;
}
.jumbotron {
    text-align: center;
    background-image:url("../img/mountains.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    color: white;

}
.jumbotron p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.header {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 80px;
}
.carousel {
    max-width: 900px;
}
.form-switch {
    text-align: center;
}
.btn {
    width: 10%;
    margin: 0px auto;
    background-color: #F76C6C;
    color: white;
}
.btn:hover {
    background-color: #A8D0E6;
    box-shadow: inset 2px 2px 2px 2px rgb(116, 113, 113);
}

.flexSwitchCheckChecked {
    background-color: #F76C6C;
}

.btn {
    width: 10%;
    margin: 0px auto;
    background-color: #F76C6C;
    color: white;
}

.hotel-results p {
    font-size: 18px;
    font-weight: bold;
}
#restaurants-results {
    font-size: 18px;
    font-weight: bold;
}
.showcityname {
    text-align: center;
    color: #ece7e7;
}
.input-group {
    margin-left: 7%;
}
.form-control {
    max-width: 75%;
}
.results-page {
    border-radius: 10px;
    background: rgb(237,173,150);
    background: radial-gradient(circle, rgba(237,173,150,0.8174457282913166) 4%, rgba(238,157,129,0.3104429271708683) 100%, rgba(235,234,230,0.47290791316526615) 100%);
    border: 0;
}
@media screen and (max-width: 600px) {
   #search-button {
     min-width: 25%;
    }
  }
  @media screen and (max-width: 720px) {
   .form-control {
        width: 30px;
    }
    .input-group {
        margin-left: 1%;
    }

  }