/* font-family: 'Crimson Text', serif;
font-family: font-family: 'Crimson Text', serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Raleway', sans-serif; */
/* #F8E9A1, #F76C6C, #A8D0E6 light blue, #374785 (Dark Purple), #24305E (Dark blue) */

* {
    margin: auto;
    padding: 10px;
}
body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(36,48,94,1) 35%, rgba(168,208,230,1) 100%);
}
main{
    border: 2px solid #24305E;
    padding-top: 29px;
    background-color: #eee;
    font-family: 'Raleway', sans-serif;

}
.my-4 {
    padding: 0;
}
.jumbotron {
    background-color: #374785;
    text-align: center;
    background-image:url("../img/mountains.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}
.jumbotron p {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.header {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 80px;
}
.carousel {
    max-width: 900px;
}
.form-switch {
    text-align: center;
}
.btn {
    width: 15%;
    margin: 0px auto;
    background-color: #F76C6C;
    color: white;
}
.flexSwitchCheckChecked {
    background-color: #F76C6C;
}
.form-switch {
    text-align: center;
}
.btn {
    width: 15%;
    margin: 0px auto;
    background-color: #F76C6C;
    color: white;
}
.flexSwitchCheckChecked {
    background-color: #F76C6C;
}

.hotel-results p {
    font-size: 18px;
    font-weight: bold;
}

.results-page {
    border-radius: 10px;
    background: rgb(237,173,150);
    background: radial-gradient(circle, rgba(237,173,150,0.8174457282913166) 4%, rgba(238,157,129,0.3104429271708683) 100%, rgba(235,234,230,0.47290791316526615) 100%);
    border: 0;
}